.ce_timelineSliderStart {
  margin-bottom: 20px;

  &.horizontal, &.auto {
    display: flex;
    align-items: center;
  }
}

.roadmap.roadmap--orientation-horizontal, .roadmap.roadmap--orientation-auto {
  width: 90%;

  * {
    box-sizing: border-box;
  }

  .roadmap__events__event {
    height: 250px;

    .event__date {
      font-size: 22px;
    }
  }

  .roadmap__events {
    padding: 250px 0;
  }
}

@media (min-width:993px) {
  .roadmap.roadmap--orientation-horizontal, .roadmap.roadmap--orientation-auto .roadmap__events__event {
    &:nth-child(even) .event .event__date {
      bottom: -140px;
    }

    &:nth-child(odd) .event .event__date {
      top: -140px;
    }

    &:nth-child(even), &:nth-child(odd) {
      .event .event__date {
        position: absolute;
        width: 100%;
      }
    }
  }
}

.roadmap.roadmap--orientation-vertical.roadmap--initialized {
  margin: 70px auto;
  position: relative;

  * {
    box-sizing: border-box;
  }

  .roadmap__events__event {
    min-height: 44px;
    margin-bottom: 50px;

    .event {
      width: 50%;
      top: -15px;
      -webkit-transition: all 3s cubic-bezier(.25,.1,.25,1.3);
      -o-transition: all 3s cubic-bezier(.25,.1,.25,1.3);
      transition: all 3s cubic-bezier(.25,.1,.25,1.3);
    }

    &:nth-child(odd) {
      .event__date {
        text-align: right;
        padding-right: 70px;
        font-size: 22px;
      }

      .event__content {
        position: absolute;
        right: -390px;
        width: 100%;
        top: 0;
        text-align: left;
      }

      .event {
        top: -10px;
      }
    }

    &:nth-child(even) {
      .event__date {
        text-align: left;
        font-size: 22px;
        padding-left: 70px;
      }

      .event__content {
        position: absolute;
        left: -390px;
        width: 100%;
        text-align: right;
        top: 0;
      }
    }
  }

  .roadmap__events {
    min-height: 1px;

    &:after {
      -webkit-transition: all 1s linear;
      -o-transition: all 1s linear;
      transition: all 1s linear;
      height: 100%;
    }

    .roadmap__events__event {
      &:before {
        display: none;
      }

      &:after {
        height: 20px !important;
        width: 20px !important;
        border-radius: 100%;
        left: 50%;
        margin-left: -10px;
        margin-top: -7.5px;
        transform: none !important;
        transition: none;
      }

      &:nth-child(odd) .event__content {
        right: -100%;
        padding-left: 70px;
      }

      &:nth-child(even) .event__content {
        left: -100%;
        padding-right: 70px;
      }
    }
  }
}

.roadmap.roadmap--orientation-horizontal,
.roadmap.roadmap--orientation-vertical,
.roadmap.roadmap--orientation-auto {
  .roadmap__navigation {
    height: 30px;
    padding: 0;

    * {
      position: relative;
      top: inherit;
      -webkit-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      z-index: 1;
    }

    >* a {
      font-weight: 700;
      text-decoration: none;
    }

    >:last-child {
      float: right;
      right: inherit;
    }

    >:first-child {
      float: left;
      left: inherit;
    }
  }

  h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .roadmap__events__event:after, .roadmap__events__event:before, .roadmap__events:after {
    background-color: #000;
  }
}

.roadmap.roadmap--orientation-vertical .roadmap__navigation {
    >:last-child, >:first-child {
      float: none;
      text-align: center;
    }
}

@media (max-width: 992px) {

  .roadmap.roadmap--orientation-vertical.roadmap--initialized {
    .roadmap__events .roadmap__events__event {
      &:nth-child(even) .event__date {
        padding-left: 35px;
      }
      &:nth-child(odd) .event__date {
        padding-right: 35px;
      }

      .event {
        transition: none !important;
      }

      &:nth-child(odd) .event__content {
        padding-left: 35px;
      }

      &:nth-child(even) .event__content {
        padding-right: 35px;
      }

      &:before {
        transition: none !important;
      }
    }

    .roadmap__events:after {
      transition: none !important;
    }
  }

  .roadmap.roadmap--orientation-auto {
    .roadmap__events {
      padding: 0;
    }

    .roadmap__events__event:nth-child(odd) .event {
      top: 0;
    }
  }

  .roadmap.roadmap--orientation-auto {
    .roadmap__navigation {
      >:last-child, >:first-child {
        float: none;
        text-align: center;
      }
    }
  }

}

@media (max-width: 600px) {

  .roadmap.roadmap--orientation-vertical.roadmap--initialized {
    .roadmap__events__event {
      &:nth-child(odd) .event {
        margin-left: 0;
      }

      &:nth-child(even) .event {
        margin-right: 0;
      }
    }

    .roadmap__events {
      width: 100%;
    }
  }

}
